/*2014/10/29*/
/*Miguel Valentine*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color:#222;
  margin: 0;
  font-family:  "MW","DR","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}
a{
  color: #222;
  text-decoration: none;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul{
  list-style: none;
  list-style-image: none;
}
/*上方PUBLIC*/
body.index header {
  background: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position:50% 50%; 
  background-size:contain;
  background-color:#eacc32;
  height:900px;
  width: 100%;
  display: inline-block;
}
body.index footer {
  border-top:2px #eacc32 solid;
  text-align: center;
}
footer h3{
  font-size: 12px;
  margin:50px;
}

.warp-nav{
  margin-top:37px;
  background-color: #fff;
  height:90px;
  padding-left:20px;
  padding-right:20px;
  box-shadow:0px 1px 4px #aaa;
}

a.logo{
  text-indent: -9999px;
  width: 89px;
  height: 31px;
  background: url("/images/logo.png");
  background: url("/images/logo.svg"), none;
  background-size: 89px 31px;
  display: block;
  float: left;
  margin-top:29px;
  margin-left: 15px;
  margin-right: 10px;
  cursor: default;
}

header h3.title{
  color:#222;
  font-weight: 200;
  font-size: 14px;
  line-height: 90px;
  display: block;
  float: left;
  cursor: default;
}

header nav.menu{
  float: right;
}

header nav.menu li {
  font-size: 14px;
  float: left;
  padding-left:10px;
  padding-right: 10px;
  height:90px;
}

header nav li:hover{
  transition: all 0.2s linear;
  background-color: #EEE;
  cursor: pointer;
}

header nav.menu li a{
  font-family: "DR";
  height:90px;
  display: table;
  color:#222;
  margin:0 auto;
  text-align: center;
  line-height: 90px;
}

header nav.menu li.active a{
  font-weight: bolder;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.buttonframe{
  margin-top: 20px;
  font-size: 20px;
  font-family: "DR";
}
.buttonframe .button{
  margin-right: 20px;
}
.button{
  display: inline-block;
  border:3px #000 solid;
  cursor: pointer;
}
.button:hover{
  transition: all 0.1s linear;
  background: rgba(255,255,255,0.3);
}
.button-big{
  padding:15px 20px;
}
.hr{
  display: block;
  width:100px;
  height:2px;
  background-color: #222;
}
.center{
  text-align: center;
  margin:60px auto 40px auto;
}
.fz-24{
  font-size: 24px;
}
.b{
  font-weight: bolder;
}
main .title{
  text-align: center;
}
main .title h4{
  margin: 10px;
}
main .mail{
  margin:40px 0 70px 0;
  text-align: center;
}
main .mail a.logo{
  margin-top:0;
  display: inline-block;
  float: none;
}
main .mail h4{
  line-height: 33px;
}
.h4{
  font-size:14px;
}
header a.droplist{
  margin:27px 0 0 30px;
  float:right;
  cursor: pointer;
  background-image: url("/images/nav.svg");
  background-size: 100%;
  width: 30px;
  height: 24px;
  display:none;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-weight: lighter;
  font-family: "opensans","DR","Microsoft YaHei UI","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

.wrap-full {
  width:1100px;
  margin:0 auto;
}

/*字体区*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'opensansb';
  src: url('../fonts/opensans-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'DR';
  src: url('../fonts/DroidSans-webfont.woff') format('woff');
}
@font-face {
  font-family: 'MW';
  src: url('../fonts/mgopenmodataregular-webfont.woff') format('woff');
}

/*自适应区*/
@media (max-width: 1170px) {
  header nav.menu li{
    font-size: 10px;
  }
  .wrap-full {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
  }
  header a.droplist{
  	display:block;
  }
}
@media (max-width: 550px) {
  .wrap-full {
  	padding: 0px;
  }
  header a.droplist{
    margin: 11px;
    width: 20px;
    height: 16px;
  }
}

/*pic*/
.op li{background:none;border:3px #fff solid;}
.op li.cur{background:#fff;}
.slides{margin:0px auto;width:1100px;height:773px;overflow:hidden;position:relative;text-align:center;}
.slide-pic{width:1100px;overflow:hidden;list-style:none; height:773px;position: relative;}
.slide-pic .text{position:absolute;top:215px;left:40px;z-index:100;text-align:left;}
.slide-pic .text h3{font-size: 36px; font-weight:lighter;}
.slide-pic .text h3 span{font-size: 44px; font-weight:400;}
.slide-pic .text h4{font-size:24px;margin-top: 10px;}
.slide-pic .text h5{font-size:20px;margin-top: 10px;}
.slide-pic img{position:absolute;top:0;left:0;width:1100px;height:773px;}
.slide-pic li{display:none;}
.slide-pic li.cur{display:block;}
.slide-li{bottom:20px;position:absolute;list-style-type:none;width:100%;z-index: 100;}
.slide-li li{width:10px;;height:10px;border-radius:10px;overflow:hidden;list-style:none; margin:0 5px; white-space:nowrap;display: inline-block;}