doctype html
// saved from url=(0023)http://creativision.cn/
html(lang="zh-cn")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='创视新知')
    meta(name='author', content='曹返')
    link(rel='icon',href='/ico/favicon.png',mce_href='/ico/favicon.png',type='image/x-icon')
    link(rel='shortcut icon', href='/ico/favicon.png',mce_href='/ico/favicon.png',type='image/x-icon')
    link(href='/stylesheets/Nebula.css', rel='stylesheet')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/index.js')
    <!--[if lt IE 9]><script type="text/javascript" src="/js/lib/ie.js"></script><![endif]-->
    title 创视新知
  body.index
    header
      .wrap-full
        .warp-nav
          a.logo(href='/') creativision
          h3.title 创视新知
          nav.menu
            ul
              li.active
                a(href='/') HOME
              li
                a(href='/creat') CREAT
              li
                a(href='/nebula') NEBULA
              li
                a(href='/metro') METRO
              li
                a(href='/ragnarok') RAGNAROK
          a.droplist(data='index')
            span
          .clearfix
      script(type='text/javascript', src='/js/index/main.js')
      .wrap-full
        .slides
          ul.slide-pic
            li.cur
              .text
                h3
                  span Creat  -
                  | Nodejs Framework
                h4 基于NODEJS的开源网络服务框架
                br
                h5 > 更接近原生NODEJS
                h5 > 兼容ES5/ES6
                h5 > 无外挂模块
                .buttonframe
                  a.button.button-big(href='/creat/api') API DOCUMENTS
                  a.button.button-big(href='/node-creat.tar') DOWNLOAD
              a
                img(src="/images/slider/1.png",title="")
            li
              .text
                h3
                  span Nebula  -
                  | Css3 Framework
                h4 审美强迫者前端开发框架
                br
                h5 > 简洁的UI
                h5 > 交互式响应事件
                h5 > 流媒体布局
                .buttonframe
                  a.button.button-big(href='/nebula/api') API DOCUMENTS
                  a.button.button-big(href='/nebula/download') DOWNLOAD
              a
                img(src="/images/slider/3.png",title="")
            li
              .text
                h3
                  span Metro  -
                  | Websocket Framework
                h4 I/O式网络响应框架
                br
                h5 > 基于原生NODEJS
                h5 > 基于IP和TOKEN优化
                h5 > 更高的无阻塞并发
                .buttonframe
                  a.button.button-big(href='/metro/api') API DOCUMENTS
                  a.button.button-big(href='/metro/download') DOWNLOAD
              a
                img(src="/images/slider/2.png",title="")
            li
              .text
                h3
                  span Ragnarok  -
                  | JS Framework
                h4 前端JS框架
                br
                h5 > 强文档类操作
                h5 > 模块化
                h5 > 数据绑定
                .buttonframe
                  a.button.button-big(href='/ragnarok/api') API DOCUMENTS
                  a.button.button-big(href='/ragnarok/download') DOWNLOAD
              a
                img(src="/images/slider/4.png",title="")
          ul.slide-li.op
            li.cur
            li
            li
            li
          ul.slide-li.slide-txt.op
            li.cur 
            li
            li
            li
      .clearfix
    main
      .wrap-full
        .center
          h3.fz-24
            | -
            span.b
              | &nbsp;FRAMEWORK SERVICES
            | &nbsp;&nbsp;&nbsp;&nbsp;框架服务商&nbsp;-
        .title
          h4 专业的框架定制服务，大量提升业务处理能力，定制WEBSOCKET/SQL组件，集群部署
          h4 逻辑优化咨询，事件优化咨询
        .mail
          h4
            a.logo(href='/') creativision
            a.cont.b lighthacker@163.com
            .clearfix
    footer
      .wrap-full
        h3 ©2014-2015 creativision.cn 版权所有
